<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>backbone</title>
	<link rel="stylesheet" type="text/css" href="../../sea-modules/gallery/bootstrap/3.0.0/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../../sea-modules/gallery/bootstrap/3.0.0/bootstrap-theme.css">
    
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Backbone.js Example App</h1>
    </div>
	<p class="lead">
      seajs + backbone + backbone-localStorage 
    </p>
    <div class="row">
      <div class="col-md-6">
          <div id="library">loading...</div>
          <div id="libraryPaginator"></div>
      </div>
      <div class="col-md-6">
          <code id="output" style="display:block;white-space:pre-wrap;"></code>
      </div>
    </div>
    
  </div>
    

    <script type="text/template" id="indexTemplate">
      <div class="well">
        <a class="btn btn-block btn-large btn-info" href="#book/add">Create New book</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="20%">Title</th>
            <th width="20%">Author</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </script>

    <script id="rowTemplate" type="text/template">
      <td>
        <a href="#book/<%= id %>/view"><%= title %></a>
      </td>
      <td><%= author %></td>
      <td><% print(description.substring(0, 100)) %>...</td>
      <td>
        <a href="#book/<%= id %>" class="edit btn btn-info btn-small">edit</a>
        <a href="#" class="delete btn btn-danger btn-small">delete</a>
      </td>
    </script>

    <!-- the form, used for create and edit -->
    <script type="text/jst" id="formTemplate">
      <div class="well">
        <div class="alert alert-error" style="display:none;"></div>
        <form>
          <h2 class="form-signin-heading"></h2>
          <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title" value="<%= title %>" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="author" placeholder="Author" value="<%= author %>" />
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" name="description" placeholder="Description"><%= description %></textarea>
          </div>
          <div class="form-actions">
            <button class="save btn btn-large btn-primary" type="submit">Save</button> or
            <a href="#library/index" class="btn btn-default">Cancel</a>
          </div>
        </form>
      </div>
    </script>

    <!--sample template for pagination UI-->

    <script type="text/html" id="tmpClientPagination">
     <div class="breadcrumb">

      <span class="cell last pages">
        <% if (currentPage != 1) { %>
          <a href="#" class="first">First</a>
          <a href="#" class="prev">Previous</a>
        <% } %>
        <% _.each (pageSet, function (p) { %>
          <% if (currentPage == p) { %>
            <span class="page selected"><%= p %></span>
          <% } else { %>
            <a href="#" class="page"><%= p %></a>
          <% } %>
        <% }); %>
        <% if (lastPage != currentPage && lastPage != 0) { %>
          <a href="#" class="next">Next</a>
          <a href="#" class="last">Last</a>
        <% } %>
      </span>

      <span class="divider">/</span>

      <span class="cell howmany">
        Show
        <a href="#" class="selected">3</a>
        |
        <a href="#" class="">9</a>
        |
        <a href="#" class="">12</a>
      </span>

      <span class="divider">/</span>
      
      <span class="cell first records">
        <span class="current"><%= startRecord %></span>
        -
        <span class="perpage"><%= endRecord %></span>
        of
        <span class="total"><%= totalRecords %></span>
              shown
      </span>


      <span class="divider">/</span>

      <select id="sortByOption">
        <option value="cid">Select a field to sort on</option>
          <option value="Name">name</option>
        <option value="Runtime">runtime</option>
        <option value="Rating">rating</option>
      </select>

      <span class="cell sort">
        <a href="#" class="sortAsc btn small">Sort (Asc)</a>
        <a href="#" class="sortDsc btn small">Sort (Desc)</a>
      </span>

      <span class="divider">/</span>

      <select id="filterByOption">
        <option value="cid">Select a field to filter on</option>
        <option value="Name">name</option>
        <option value="Runtime">runtime</option>
        <option value="Rating">rating</option>
      </select>

      <span class="cell sort">
        <input id="filterString" type="text" class="cell" />
        <a href="#" class="filter btn small">Filter</a>
      </span>

      </div>
    </script>
    
  	<script src="../../sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    
    <script>
      var isDev = location.href.indexOf("?dev") > 0;
      // Set configuration
      seajs.config({
        base: "../../sea-modules/",
        alias: {
          "$": "jquery/jquery/1.10.1/jquery",
          "jquery": "jquery/jquery/1.10.1/jquery",
          "underscore": "gallery/underscore/1.5.2/underscore",
          "backbone": "gallery/backbone/1.1.0/backbone",
          "backboneLocalStorage": "willkan/backbone-localStorage/1.1.6/backbone.localStorage"
        },
        map: [
          ['\/sea-modules\/dist', '/dist']
        ]
      });

      // For development
      if (isDev) {
        seajs.use("../../src/backbone-paginator/main");
      }
      else {// For production
        seajs.use("../../dist/backbone-paginator/main");
      }
    </script>
    
</body>
</html>