<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>backbone</title>
	<link rel="stylesheet" type="text/css" href="../../sea-modules/gallery/bootstrap/3.0.0/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../../sea-modules/gallery/bootstrap/3.0.0/bootstrap-theme.css">
    
</head>
<body>
  <header class="navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">Seajs+Backbone</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="../hello-seajs/hello.html">起步</a>
          </li>
          <li class="dropdown">
            <a id="drop1" href="javascript://" role="button" class="dropdown-toggle" data-toggle="dropdown">examples <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html">seajs + backbone + php</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="../backbone-part1/index.html">seajs + backbone + php</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="../backbone-paginator/index.html">seajs + backbone + backbone-localStorage</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://backbonejs.org/">API</a>
          </li>
          <li>
            <a href="http://www.csser.com/tools/backbone/backbone.js.html">中文API</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <div class="container">
    <div class="page-header">
      <h1>Backbone.js Example App</h1>
    </div>
	  <p class="lead">
      seajs + backbone + php 
    </p>

    <div class="row">
     
      <div class="col-md-6" id="library">
      	loading...
        <!-- the container that gets populated with the index -->
      </div>
      <div class="col-md-6">
          <!-- we are going to debug our backbone collection here -->
          <code id="output" style="display:block;white-space:pre-wrap;"></code>
      </div>

      
    </div>
 
     <div class="lead">
      <p>model.destroy([options])  :  向服务器发起删除数据请求。</p>
      <p>model.set(attributes, [options]): 向model添加数据</p>
      <p>model.save([attributes], [options]): 向服务器发起添加或更新数据请求，成功后render数据列表</p>
      <p>model.isNew(): 检查添加的model中的id是否为null,以此判断是新增还是更新</p>
      <p>model.validate(attributes): 为model添加验证， 返回值不为undefine 均衡触发 ‘invalid’ 事件</p>
      <p>this.model.bind('invalid', this.showErrors, this);  //为模型验证错误时触发错误提示</p>
    </div>   
    
    
    
  </div>
    

    <script type="text/template" id="indexTemplate">
      <div class="well">
        <a class="btn btn-block btn-large btn-info" href="#book/add">Create New book</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="20%">Title</th>
            <th width="20%">Author</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </script>

    <script id="rowTemplate" type="text/template">
      <td>
        <a href="#book/<%= id %>/view"><%= title %></a>
      </td>
      <td><%= author %></td>
      <td><% print(description.substring(0, 100)) %>...</td>
      <td>
        <a href="#book/<%= id %>/edit" class="edit btn btn-info btn-small">edit</a>
        <a href="#" class="delete btn btn-danger btn-small">delete</a>
      </td>
    </script>

    <!-- the form, used for create and edit -->
    <script type="text/jst" id="formTemplate">
      <div class="well">
        <div class="alert alert-danger" style="display:none;"></div>
        <form>
          <h2 class="form-signin-heading"></h2>
          <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title" value="<%= title %>" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="author" placeholder="Author" value="<%= author %>" />
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" name="description" placeholder="Description"><%= description %></textarea>
          </div>
          <div class="form-actions">
            <button class="save btn btn-large btn-primary" type="submit">Save</button> or
            <a href="#library/index" class="btn btn-default">Cancel</a>
          </div>
        </form>
      </div>
    </script>


    
  	<script src="../../sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="sea-config.js"></script>
    <script>
      // var isDev = location.href.indexOf("?dev") > 0;
      // // Set configuration
      // seajs.config({
      //   base: '../../sea-modules/',
      //   // base: isDev ? '../../sea-modules/' : '../../dist/',
      //   alias: {
      //     "$": "jquery/jquery/1.10.1/jquery",
      //     "$-debug": "jquery/jquery/1.10.1/jquery",
      //     "jquery": "jquery/jquery/1.10.1/jquery",
      //     "underscore": "gallery/underscore/1.5.2/underscore",
      //     "backbone": "gallery/backbone/1.1.0/backbone"
      //   },
      //   map: [
      //     ['\/sea-modules\/dist', '/dist']
      //     // [/\/dist\/(gallery|jquery)/, '/sea-modules/$1']
      //     // [/\.js$/, '-debug.js']
      //   ]
      // });




      // var isDev = location.href.indexOf("?dev") > 0;
      // // Set configuration
      // seajs.config({
      //     base: '../../sea-modules/',
      //     // base: isDev ? '../../sea-modules/' : '../../dist/',
      //     alias: {
      //       "$": "jquery/jquery/1.10.1/jquery",
      //       "$-debug": "jquery/jquery/1.10.1/jquery",
      //       "jquery": "jquery/jquery/1.10.1/jquery",
      //       "underscore": "gallery/underscore/1.5.2/underscore",
      //       "backbone": "gallery/backbone/1.1.0/backbone"
      //     },
      //     map: [
      //       ['\/sea-modules\/dist', '/dist']
      //     // [/\/dist\/(gallery|jquery)/, '/sea-modules/$1']
      //     // [/\.js$/, '-debug.js']
      //     ]
      // }); 

      // For development
      if (window.isDev) {
        seajs.use("../../src/todo-backbone/main");
      }
      else {// For production
        seajs.use("../../dist/todo-backbone/main");
      }





      // // Set configuration
      // seajs.config({
      //     alias: {
      //       "$": "jquery/jquery/1.10.1/jquery",
      //       "jquery": "jquery/jquery/1.10.1/jquery",
      //       "underscore": "gallery/underscore/1.5.2/underscore",
      //       "backbone": "gallery/backbone/1.1.0/backbone"
      //     }
      // });

      // // For development
      // if (location.href.indexOf("?dev") > 0) {
      //   seajs.config({
      //     base: "../../sea-modules/"
      //   });
      //   seajs.use("../../src/todo-backbone/main");
      // }
      // else {// For production
      //   seajs.config({
      //     base: "../../dist/",
      //     map: [
      //       [/\/dist\/(gallery|jquery)/, '/sea-modules/$1']
      //     ]
      //   });
      //   seajs.use("todo-backbone/main");
      // }







    </script>
    
</body>
</html>